<md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-4dp">
    <md-list>
        <!-- List item #1 -->
        <md-list-item>
            <md-button>
                <md-icon md-svg-src="" class="avatar"></md-icon>
                Lia Luogo
            </md-button>
        </md-list-item>

        <!-- List item #2 -->
        <md-list-item>
            <md-button>
                <md-icon md-svg-src="" class="avatar"></md-icon>
                Lawrence Ray
            </md-button>
        </md-list-item>

    </md-list>
</md-sidenav>