<md-content flex layout-padding>
    <p ng-if="!Contributing.AuthProvider.currentUser.location">To start contribution you need to login and set your current location first!</p>
    <form name="contributing" ng-if="Contributing.AuthProvider.currentUser.location" ng-submit="contributing.$valid && Contributing.contribute()">
        <div flex layout="row">
            <md-time-picker flex ng-model="Contributing.contributeFormData.startTime" md-placeholder="Day starting"></md-datepicker>
            <md-time-picker flex ng-model="Contributing.contributeFormData.endTime" md-placeholder="Day ending"></md-datepicker>
        </div>
        <div flex layout="row">
            <md-button class="md-fab md-mini" ng-click="Contributing.chooseOnMap('startPoint')" aria-label="Find on map">
                <md-icon md-svg-src="room-white"></md-icon>
            </md-button>
            <md-google-autocomplete flex place-change="Contributing.pointChanged('startPoint', place)" required="true" ng-model="Contributing.contributeFormData.startPoint"
                class="md-block" placeholder="Start point"></md-google-autocomplete>
        </div>

        <div ng-repeat="point in Contributing.contributeFormData.additional track by $index" flex layout="row">
            <md-button class="md-fab md-mini" ng-click="Contributing.chooseOnMap($index, true)" aria-label="Find on map">
                <md-icon md-svg-src="room-white"></md-icon>
            </md-button>
            <md-google-autocomplete layout="row" flex place-change="Contributing.pointChanged('additional', place)" required="true" ng-model="Contributing.contributeFormData.additional[$index]"
                class="md-block" placeholder="Additional point"></md-google-autocomplete>
            <md-button class="md-fab md-mini" ng-click="Contributing.removeAdditionalPoint($index)" aria-label="Remove point">
                <md-icon md-svg-icon="cancel-white"></md-icon>
            </md-button>
        </div>

        <div class="additional-separator">
            <md-button class="md-fab md-mini" ng-click="Contributing.addAdditionalPoint()" aria-label="Find on map">
                <md-icon md-svg-src="add-white"></md-icon>
                <md-tooltip>
                    Add point
                </md-tooltip>
            </md-button>
        </div>

        <div flex layout="row">
            <md-button class="md-fab md-mini" ng-click="Contributing.chooseOnMap('endPoint')" aria-label="Find on map">
                <md-icon md-svg-src="room-white"></md-icon>
            </md-button>
            <md-google-autocomplete flex place-change="Contributing.pointChanged('endPoint', place)" required="true" ng-model="Contributing.contributeFormData.endPoint"
                class="md-block" placeholder="End point"></md-google-autocomplete>
        </div>
    </form>
    <md-button class="md-fab md-fab-bottom-right" ng-click="Contributing.contribute()" ;>
        <md-icon md-svg-src="add-white"></md-icon>
        <md-tooltip>
            Contribute
        </md-tooltip>
    </md-button>
</md-content>