<!DOCTYPE html>
<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=<%= htmlWebpackPlugin.options.google.libraries %>&key=<%= htmlWebpackPlugin.options.google.apiKey %>"></script>
</head>

<body data-ng-cloak id="app" layout="row">
    <ui-view flex layout="row"></ui-view>
</body>

</html>